Ejecutable.exe
.vscode
tp3/p1-vs/tp1/.vs/tp1/v17/ipch/AutoPCH/5c7f31abc9f5fbb/MAIN.ipch
tp3/p1-vs/tp1/.vs/tp1/v17/Browse.VC.db
tp3/p3-vs/p3-vs2/.vs/p3-vs2/FileContentIndex/619bca69-8348-4409-856a-0dce95a55b3d.vsidx
tp3/p1-vs/tp1/.vs/tp1/v17/.suo
tp3/p3-vs/p3-vs2/.vs/p3-vs2/FileContentIndex/9123350b-ca9b-4755-ad07-8713ebdecced.vsidx
tp3/p3-vs/p3-vs2/.vs/p3-vs2/FileContentIndex/ab5e714a-22f0-48a1-9a4f-411e280735de.vsidx
tp3/p3-vs/p3-vs2/.vs/p3-vs2/FileContentIndex/f41ac853-770c-423b-8309-995d19060461.vsidx
tp3/p3-vs/p3-vs2/.vs/p3-vs2/v17/.suo
tp3/p3-vs/p3-vs2/.vs/p3-vs2/v17/Browse.VC.db
tp3/p3-vs/p3-vs2/.vs/p3-vs2/v17/ipch/AutoPCH/29e2392ec5d722b1/MAIN.ipch
tp3/p3-vs/p3-vs2/p3-vs2.vcxproj
tp3/p3-vs/p3-vs2/p3-vs2.vcxproj.filters
tp3/p3-vs/p3-vs2/x64/Debug/main.obj
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.exe
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.exe.recipe
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.ilk
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.log
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.pdb
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/CL.command.1.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/CL.read.1.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/CL.write.1.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/Cl.items.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/link.command.1.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/link.read.1.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/link.write.1.tlog
tp3/p3-vs/p3-vs2/x64/Debug/p3-vs2.tlog/p3-vs2.lastbuildstate
tp3/p3-vs/p3-vs2/x64/Debug/vc143.idb
tp3/p3-vs/p3-vs2/x64/Debug/vc143.pdb
